@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Progreso 1</h1>
    <img src="https://i.imgflip.com/5u2pvr.jpg" />
    <br><br><button class="btn btn-info" onclick="Alerta()">Sobre mi</button>
</div>




